html {
    background-color: rgba(176, 176, 176, 0.315);
}

h2 {
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    color: rgb(96, 96, 95);
    font-family: sans-serif
}

.icons {
    margin: auto;
    margin-top: 25%;
    width: 95%;
    height: auto;
    text-align: center;
    font-size: 50px;
    display: table;
}

.icon {
    margin: 8px;
    color: rgb(76, 169, 203);
}

.icon:hover {
    color: rgb(243, 128, 120);
}

.iconify {
    font-size: 40px;
}